
asgiref==3.3.1
Django==3.1.3
djangorestframework==3.12.2
django-cors-headers==3.5.0
gunicorn==20.0.4
Jinja2==2.11.2
Pillow==5.1.0
requests==2.25.0
requests-oauthlib==1.3.0
requests-unixsocket==0.1.5
simplejson==3.13.2
SQLAlchemy==1.3.16
sqlparse==0.4.
whitenoise==5.2.0
gunicorn==20.0.4
